
  
  <nav>
    <div class="navbar-container">
      <ul>
        <li><a routerLink="/" routerLinkActive="active"></a></li>
        <li><a routerLink="/dashboard" routerLinkActive="active">Feed</a></li>
        <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
        <li><a routerLink="/leaderboard" routerLinkActive="active">Leaderboard</a></li>
      </ul>
      <div *ngIf="isLoggedIn | async" class="user-section">
        <span class="username">{{ username | async}} </span>
        <button (click)="logout()">Logout</button>
      </div>
      <div *ngIf="!(isLoggedIn | async)" class="user-section">
        <button (click)="login()">Login</button>
      </div>
    </div>
  </nav>

  